body {
    height:100vh;
}

.bg-logo{
    background: url(../img/wonny_topper_logo.jpg);
    background-position: center;
    background-size: cover;
    height: 80px;
    margin-bottom: 50px;
}
.alert-modal-body{
    margin: 20px;
    color: black;
}

.login-btn{
    color: #ffffff;
    background-color: #414141;
    border-color: #414141;
    /* color: #fff;
    background-color: #4e73df;
    border-color: #4e73df; 
    e3e6f0*/ 

}

/* login 페이지 */
.bg-login-banner-image {
    background: url(../img/login_main_banner.png);
    background-position: center;
    background-size: cover;
  }

.bg-login-page-gradient-primary {
    /* background-color: #5c5656; */
    background-color: #b6c8e5;
    background-image: linear-gradient(180deg,#ffe4e1, 10%,#fffcf3 100%);
    background-size: cover;
}



@media (min-width: 576px){
    .alert-modal-dialog {
        max-width: 350px;
    }
}
