.main-title {
  display: inline-block;
}

.page-adress {
  float: right;
}

.tx-align-left {
  text-align: left;
}

.tx-align-right {
  text-align: right;
}

.ib {
  display: inline-block;
  /* vertical-align: top; */
}

.btn-area {
  width: 150px;
}

.btn {
  color: #fff;
  background-color: #4e73df;
}

.btn-blue {}

.btn-dark {
  color: #fff;
  background-color: #5a5c69;
}

.ckbox-inline {
  padding-right: 30px;
}

/* 필터 영역  */
.search-panel-body {}

.panel-body {
  padding: 15px 0;
}

.filter-inputs {
  display: inline-block;
}

.filter-category {}

.content-table {
  text-align: center;
}

.calender-icon {
  padding: 10px 12px;
  font-size: 18px;
}

.tx-icon {
  min-width: 36px;
  line-height: 2.2em;
  text-align: center;
}

.datepicker {}

.datepicker-dropdown {}

.datepicker table {
  height: 200px;
}

.datepicker table tr {}

.card-body .row {
  display: inline-block;
  width: 100%;
}

/* 툴 영역 */
.admin-btn-tool {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  clear: both;
}


.tool-select {
  vertical-align: middle;
  padding-right: 10px;
}

.tool-btn button,
.tool-btn a,
.tool-select {}

.btn-100 {
  width: 100px;
}

#dataTable_wrapper .row .col-md-7 {
  max-width: 100% !important;
}

.pagination {
  justify-content: center !important;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  /* justify-content: normal !important; */
}



/* register 페이지 */
table {
  background: white;
}

.register-sub-title {
  padding-top: 1rem;
}

.register-content-body {
  padding-top: 1rem;

}

.star {
  color: red;
}

.table-title-td {
  background-color: #e9ecef;
  text-align: center;
  font-weight: bold;
  vertical-align: middle !important;

}

.detail-bottom-btn button:nth-child(2) {
  float: right;
}

/* main */

.content-list:hover {
  background-color: #599cf3;
  color: #ffffff;
}

.content-list {
  cursor: pointer;
}

/* detail */
.detail.table input,
.detail.table textarea {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  width: 100%;
  height: 100%;
  resize: none;
  /* 크기 조절 비활성화 */

}

.detail.table td input:focus,
.detail.table td input:active,
.detail.table td textarea:focus,
.detail.table td textarea:active {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  outline: none !important;
  border: none !important;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  box-shadow: none;


}

.detail.table td {
  vertical-align: middle;
}